@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");

$primary-heading-font: "Comforter", cursive;

$secondary-heading-font: "Georgia", sans-serif;

$paragraph-font: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
